{% extends 'main.html' %}
{% block content %}
<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-3"> {{category__name}}Products</h1>
                <hr style="border-color:#b8bfc2;">
                 {% include 'message.html' %}
            </div>
            {% for item in products %}
    <div class="col-md-4 col-lg-3">
     <div class="card my-3">
      <img src="{{ item.product_image.url }}" class="card-image-top" alt="Categories" style="width: 200px; height:200px;">
   <a href="{% url 'product_details' category__name item.name %}">
      <div class="card-body">
       <h4 class="card-title text-primary"> {{ item.name }}</h4>
       <p class="card-text">
           <span class="float-start old_price"><s>Rs.{{ item.original_price }}<s></span>
           <span class="float-end new_price">Rs.{{ item.selling_price }}</span></p>




      </div>
       </a>
     </div>
    </div>

{% endfor %}
        </div>
    </div>
</section>

{% endblock content %}